[submodule "REMC/vendor/spdlog"]
	path = REMC/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "REMC/vendor/GLFW"]
	path = REMC/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "REMC/vendor/imgui"]
	path = REMC/vendor/imgui
	url = https://github.com/TheCherno/imgui